.service__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 600px) {
    .service__container {
        margin-top: 2rem;
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .service__container {
        flex-wrap: nowrap;
        padding-top: 2rem;
    }
}