.iconContainer {
    mix-blend-mode: multiply;
    width: 10rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin-top: 2rem;
}

.iconContainer img {
    border: 2px solid #433737;
    border-radius: 10%;
    padding: 1rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.iconContainer p {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .iconContainer {
        width: 6rem;
    }

    .iconContainer img {
        padding: 0.5rem;
    }

    .iconContainer p {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
    }
}

/* Medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .iconContainer {
        width: 8rem;
    }

    .iconContainer img {
        padding: 0.8rem;
    }

    .iconContainer p {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
    }
}