.iconContainer {
    mix-blend-mode: multiply;
    width: 10rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin-top: 2rem;

}

.iconContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.iconContainer p {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}