.card__container {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    background-color: #FBF6EE;
    width: 60%;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 2rem;
}


.card__img {
    width: 100px;
    aspect-ratio: 1/1;
    margin-bottom: 1rem;
}

.card__img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.card__text {
    width: 100%;
    font-size: 1.4em;
    color: #333;
    font-weight: 400;
}