.specialists__heading.mainHeading {
    margin-top: 3rem;
}

.specialists__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


@media screen and (max-width:600px) {
    .specialists__heading {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .specialists__box {
        flex-direction: column;
    }

}


@media screen and (min-width:601px) and (max-width:768px) {
    .specialists__heading {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .specialists__box {
        flex-direction: column;
    }
}