:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: #333333; */
  background-color: #FBF6EE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

*::-webkit-scrollbar {
  display: none;
}


.container {
  /* max-width: 150rem; */
  /* padding: 120rem; */
  padding: 0 10%;
}

.mainHeading {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;

}

.mainHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 0.4rem;
  width: 100%;
  border-radius: 2rem;
  background-color: #433737;
}


/* Small screens (phones) */
@media screen and (max-width: 600px) {
  .container {
    padding: 0 5%;
  }

  .mainHeading {
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width:601px) and (max-width: 768px) {
  .mainHeading {
    font-size: 2.5rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}